@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  width: 100vw;

  max-width: 100vw;
  overflow-x: hidden;
}
.property-page h1,
h1 {
  @apply text-[2em];
}
.property-page h2,
h2 {
  @apply text-[1.5em];
}
.property-page h3,
h3 {
  @apply text-[1.17em];
}
.property-page h4,
h4 {
  @apply text-[1em];
}
h5 {
  @apply text-[0.83em];
}
h6 {
  @apply text-[0.75em];
}
.property-page ol li {
  @apply list-decimal ml-10;
}
.property-page ul li {
  @apply list-disc ml-10;
}
.form-fields input,
textarea,
select,
input[type="files"],
input {
  @apply border-admin_gray border-2 rounded-md p-2;
}
.settings-menu span {
  @apply hover:text-admin_purple;
}
table.products {
  @apply w-full;
}
thead tr td {
  @apply bg-blue-100 p-1;
}
table tbody tr td {
  @apply border p-1;
}
table.products a {
  @apply w-fit border-transparent ease-linear border-2 hover:bg-transparent duration-300 text-center text-white p-2 rounded-md mx-2 cursor-pointer inline-flex items-center gap-1;
}
.form-fields label {
  @apply text-gray-500;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #57c5b6;
  border-color: #57c5b6 transparent #57c5b6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff3130;
  border-radius: 10px;
}
.product-head td {
  min-width: fit-content;
  padding: 10px;
}

/* HOMEPAGE */
.title-prop {
  font-size: 1.7rem !important;
  font-weight: 700;
}
.social-links a {
  @apply w-10 h-10;
}
.contact-form-b.form-fields *:not(button, span, label, div) {
  @apply h-16 bg-admin_gray rounded-lg;
}
.dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown-content {
  @apply bg-white hidden absolute;
}
.dropdown-content .col {
  @apply p-2 w-[120px] ease-linear duration-200 border-2 border-transparent;
}
.dropdown-content .col:hover {
  @apply border-admin_gray bg-admin_gray;
}
.scroll-div {
  scroll-behavior: smooth;
}

.scroll-div::-webkit-scrollbar {
  height: 3px;
}
.editor-container {
  height: 300px;
}

.editor-wrapper {
  position: relative;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  background: white !important;
  width: 100%;
  z-index: 1000;
  /* transform: translateY(100%); */
}
iframe {
  @apply w-[300px] md:w-full lg:w-full;
}
